<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Listing Accounts</h1>
  </div> <!-- end of panel heading -->
      <th colspan="3"></th>

    <% @accounts.each do |account| %>
        <%= account.username %> 
        <%= account.record %>  <br>
        <%= link_to 'Show', account %>
       <%= link_to 'Edit', edit_account_path(account) %>
        <%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>


<br>

<%= link_to 'New Account', new_account_path %>
